.nav-item {
  display: inline-block;
  padding-right: 30px; 
  padding-left: 30px;
}

.menu {
  background: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding-bottom: 50px;
  height: 10%;
  z-index: 1;
  font-family: 'Rubik', sans-serif;
}

.nav-link {
  color: white;
  text-decoration: none;
  font-size: 16px;
  background-color: #a2bea8;
  padding: 10px;
  border-radius: 3px;
}

.nav-link:hover {
  background-color: #849b89;
}