<form (submit)="add(productnameInput.value, quantityInput.value, placeInput.value, unitInput.value)">
    <label for="name">Name: </label>
    <input type="text" id="name" class="form-control" name="name" #productnameInput required />
    <label for="menge">Menge: </label>
    <input type="number" id="menge" step="0.01" #quantityInput required/>
    <label for="einheit">Einheit: </label>
    <select id="einheit" #unitInput>
        <option selected value="Stück">Stück</option>
        <option value="Liter">Liter</option>
        <option value="Milliliter">Milliliter</option>
        <option value="Kilogramm">Kilogramm</option>
        <option value="Gramm">Gramm</option>
    </select>
    <label for="ort">Einkaufsort: </label>
    <select id="ort" #placeInput required>
        <option selected value="Supermarkt">Supermarkt</option>
        <option value="Drogerie">Drogerie</option>
        <option value="Baumarkt">Baumarkt</option>
        <option value="Fachhandel">Fachhandel</option>
    </select>
    <button mat-raised-button type="submit">Hinzufügen</button>
</form>